:root{
    background-color: #dceffa !important;
}

header{
    background-color:#3874ab !important;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 20px;
}

h3{
    padding: 10px;
}
